
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img {
    max-width: 100%;
}

p {
    text-indent: 10px;
}

.no-indent{
    text-indent: 0px;
}

.align-right{
    text-align: right;
}

.chapter{
    text-indent: 30px;
}

sup {
    vertical-align: super; 
    font-size: smaller; 
}

br {
    display: block;
    margin-bottom: 10px;   
}

.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.marginAdd {
    display: none;
}

.mirador-canvas-nav {
    display: none !important;
}

span.circled-text {
    display: inline-block;
    border-radius: 50%;
    border: 1px solid black;
    padding: 2px;
}

.note {
    font-style: italic;
    font-size: smaller;
    color:gray;

}

.indent-p {
    margin-left: 60px;
    text-indent: 0px;
}

.metamark {
    color:brown;
}

.supraAdd {
    vertical-align: super;
    font-style: italic; 
}

span.sic {
    font-style: italic;
    color: red;
}

span.corr {
    font-style: italic;
    color: green;
}

#navigation-buttons {
    display: flex;
    justify-content: space-between;
    width: 200px; 
    margin: 0px;
}